.toolbar-spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  height: 100%;
}

input {
  display: none;
}

mat-drawer {
  padding: 8px;
  width: 50%;
  max-width: 500px;

  .section {
    margin: 8px;
  }

  button {
    width: 100%;
  }

  mat-table {
    width: 100%;
    height: 500px;
    overflow: scroll;
  }
}

.content {
  height: 100%;

  object {
    width: 100%;
    height: 100%;
  }
}
