<mat-toolbar *ngrxLet="pageNumber$ as pageNumber">
  <ng-container *ngrxLet="populated$ as populated">
    <span>Docs Populator</span>

    <span class="toolbar-spacer"></span>

    <button
      (click)="downloadZip()"
      [disabled]="populated.length === 0"
      mat-icon-button
    >
      <mat-icon>folder_zip</mat-icon>
    </button>

    <button
      (click)="previousPage()"
      [disabled]="pageNumber === 1"
      mat-icon-button
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span
      >{{ populated.length === 0 ? 0 : pageNumber }} /
      {{ populated.length }}</span
    >

    <button
      (click)="nextPage()"
      [disabled]="pageNumber >= populated.length"
      mat-icon-button
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened [disableClose]="true">
    <div class="section">
      <h3>Data</h3>
      <input
        type="file"
        accept=".csv"
        #dataInput
        (change)="onDataChange($event)"
      />
      <button (click)="dataInput.click()" mat-flat-button color="primary">
        Import Data
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="section">
      <h3>Template</h3>
      <input
        type="file"
        accept=".html"
        #templateInput
        (change)="onTemplateChange($event)"
      />
      <button (click)="templateInput.click()" mat-flat-button color="primary">
        Import Template
      </button>
    </div>
  </mat-drawer>

  <div class="content">
    <object
      *ngIf="pdf$ | async as pdf"
      [data]="pdf"
      type="application/pdf"
    ></object>
  </div>
</mat-drawer-container>
