.toolbar-spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  height: 100%;
}

input {
  display: none;
}

mat-drawer {
  padding: 8px;

  .section {
    margin: 8px;
  }

  button {
    width: 100%;
  }
}

.content {
  height: 100%;

  object {
    width: 100%;
    height: 100%;
  }
}
